<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
</head>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/user/register.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<body>
<h2>회원 가입</h2>
    <label for="login-id">아이디:</label><br>
    <input type="text" id="login-id" name="login-id"><br>
    <button type="button" id="check-loginId-button">중복 확인</button><br><br>

    <label for="password">비밀번호:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <label for="confirm-password">비밀번호 확인 : </label><br>
    <input type="password" id="confirm-password" name="confirm-password"><br><br>

    <label for="name">이름:</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="gender">성별:</label><br>
    <select id="gender" name="gender">
        <option value="남성">남성</option>
        <option value="여성">여성</option>
    </select><br><br>

    <label for="birthdate">생일:</label><br>
    <input type="date" id="birthdate" name="birthdate"><br><br>

    <label for="email">이메일:</label><br>
    <input type="email" id="email" name="email"><br>
    <button onclick="validateEmailDuplicate()">중복 확인</button>
    <span id="emailCheckMessage" class="validation-message error"></span><br>
    <button onclick="sendCodeButton()">인증 코드 발송</button><br><br>

    <!-- 로딩 스피너 추가 -->
    <div id="loading-spinner" style="display:none;">
        <img src="/css/user/loading-waiting.gif" alt="Loading..."> <!-- spinner.gif 파일을 로딩 스피너로 사용 -->
    </div>

    <div id="verifyCodeSection">
        <label for="verificationCode">인증 코드</label><br>
        <input type="text" id="verificationCode" name="verificationCode" placeholder="인증번호 입력">
        <button onclick="verifyCodeButton()">인증 확인</button>
        <span id="verificationMessage" class="validation-message"></span>
    </div><br>

    <label for="phone-number">전화번호:</label><br>
    <input type="tel" id="phone-number" name="phone-number"><br>
    <button onclick="validatePhoneNumber()">중복 확인</button><br><br>

    <!-- 주소검색 -->
    <label for="address">주소:</label><br>
    <input type="text" id="address" name="address" placeholder="주소"><br>

    <label for="detail-address"></label>
    <input type="text" id="detail-address" placeholder="상세주소"><br>

    <label for="postcode"></label>
    <input type="text" id="postcode" placeholder="우편번호">
    <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br><br>


    <button onclick="register()">회원 가입</button>

</body>
</html>
