<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>장바구니</title>
</head>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/cart/cartList.js"></script>
<body>
{{> common/navbar }}
<!-- 장바구니 목록 -->
<div id="cart-items">
    <!-- 장바구니 아이템 목록이 여기에 동적으로 추가됩니다 -->
</div>

<!-- 결제 진행 버튼 -->
<button class="btn btn-success" id="checkoutBtn">결제 진행</button>
</body>
</html>